<!--<h1>{{title}}</h1>-->
<!--Addition <br/>-->
<!--a. Fixed 1-Digit + Random 1-Digit <br/>-->
<!--b. Random 1-Digit + Random 1-Digit <br/>-->
<!--c. Fixed 1-Digit + Random 2-Digit <br/>-->
<!--d. Random 1-Digit + Random 2-Digit <br/>-->
<!--e. Fixed 2-Digit + Random 1-Digit <br/>-->
<!--f. Random 2-Digit + Random 1-Digit <br/>-->
<!--g. Fixed 2-Digit + Random 2-Digit <br/>-->
<!--h. Random 2-Digit + Random 2-Digit <br/>-->
<!--<nav>-->
<!--  <a routerLink="/addition">Addition</a>-->
<!--</nav>-->
<!--Multiplication <br/>-->
<!--a. Fixed 1-Digit * Random 1-Digit <br/>-->
<!--b. Random 1-Digit * Random 1-Digit <br/>-->
<!--c. Fixed 1-Digit * Random 2-Digit <br/>-->
<!--d. Random 1-Digit * Random 2-Digit <br/>-->
<!--<nav>-->
<!--  <a routerLink="/multiplication">Multiplication</a>-->
<!--</nav>-->
<router-outlet></router-outlet>
